
body {
  background-color: #FBFBFE;
  margin: 15px;
}
h1,h2{
  font-family:"Abril Fatface";
  float:left;
}

h3{
  font-family: "Abril Fatface";
  float:center;
}

p{
  float:left;
  font-family:"Big Caslon";
}
li{
  font-family:"Big Caslon";
}

.mainfood{
  height:30%;
  width:30%;
  border: 6px solid #ddd;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px
}

.text{
  text-align: inherit;
}
